html {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	scroll-behavior: smooth;
}

.main-header {
	width: 100%;
	height: calc(100vh - 50px);
	background-image: url(images/background01.jpg);
	background-size: cover;
}

.header-shadow {
	width: 100%;
	height: 100%;
	background-image: url(images/background_shadow.png);
	display: flex;
	align-items: center;
}

.header-container {
	color: #ffffff;
	display: grid;
	grid-template-columns: 9fr 3fr;
}

.container {
	width: 92%;
	margin: 0 auto;
	padding: 60px 0 60px 0;
}

.section-container {
	text-align: center;
}

.main-nav {
	width: 100%;
	height: 50px;
	background-color: #4e4e4e;
	display: flex;
	align-items: center;
}

.main-nav a {
	color: #f1f1f1;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
}

.header-offer {
	width: 146px;
	height: 41px;
	margin-top: 43px;
	background-color: transparent;
	border: 3px solid #ffffff;
	color: #ffffff;
	font-weight: 700;
	font-size: 18px;
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	grid-column: 1;
}

.main-title {
	grid-column: 1;
	font-size: 36px;
	font-weight: 700;
}

.subtitle {
	font-size: 18px;
	font-weight: 700;
	margin-top: 30px;
	display: flex;
	align-items: center;
	grid-column: 1;
}

.section-about {
	width: 100%;
	background-color: #f1f1f1;
	color: #152d41;
}

.about-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.personal-photo {
	width: 220px;
	aspect-ratio: 1/1;
	background-size: cover;
	border-radius: 50%;
	margin-top: 50px;
}

.ceo {
	background-image: url(images/spec01.jpg);
}

.dataanalyst {
	background-image: url(images/spec02.jpg);
}

.about-subtitle {
	margin-bottom: 20px;
}
.centered {
	text-align: justify;
}

.section-offer {
	width: 100%;
	background-color: #405d78;
	color: #ffffff;
}

.item-container {
	width: 72%;
	margin: 0 auto;
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}

.item {
	width: 380px;
	height: 360px;
	margin-top: 36px;
	background-color: #f1f1f1;
	color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.dot {
	height: 36px;
	width: 36px;
	top: -18px;
	left: -18px;
	background-color: #e07a64;
	border-radius: 50%;
	display: block;
	position: absolute;
}

.service {
	font-size: 24px;
}

.footer-content {
	width: 100%;
	height: 150px;
	background-color: #4e4e4e;
	color: #ffffff;
}

.footer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 92%;
	margin: 0 auto;
}

.footer-text {
	font-size: 18px;
	font-weight: 700;
	margin: 40px 0 25px 0px;
}

.footer-nav a {
	color: #ffffff;
}

.social-icon {
	font-size: 31px;
}
.second-icon {
	margin-left: 18px;
}

.nav-list {
	display: none;
}

@media screen and (min-width: 481px) {
	.personal-photo {
		width: 40%;
	}

	.item-container {
		width: 80%;
	}

	.nav-list {
		display: none;
	}
}

@media screen and (min-width: 769px) {
	.header-container {
		color: #ffffff;
		display: grid;
		grid-template-columns: 577px 20fr;
		grid-template-rows: 4fr 4fr 4fr;
	}

	.nav-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav-list {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.nav-item {
		list-style-type: none;
	}

	.nav-item a {
		color: #f1f1f1;
		text-decoration: none;
		font-size: 18px;
		font-weight: 400;
	}

	.link-contact a {
		cursor: not-allowed;
	}

	.nav-link {
		margin-right: 46px;
	}

	.header-offer {
		width: 146px;
		height: 41px;
		margin-top: 43px;
		background-color: transparent;
		border: 3px solid #ffffff;
		color: #ffffff;
		font-weight: 700;
		font-size: 18px;
		text-decoration: none;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		transition: background-color 1s, color 1s;
	}

	.offer-link {
		grid-row: 3;
		grid-column: 1;
	}

	.header-offer:hover {
		background-color: #fff;
		color: #000;
	}

	.subtitle {
		margin-top: 62px;
	}

	.main-subtitle {
		grid-area: 1;
		grid-row: 2;
	}

	.section-container {
		text-align: left;
	}

	.about-container {
		flex-direction: row;
		align-items: center;
		margin-bottom: 68px;
	}

	.about-container:nth-of-type(even) {
		flex-direction: row-reverse;
	}

	.about-title {
		padding-bottom: 81px;
	}

	.centered {
		padding-bottom: 60px;
	}

	.reversetext {
		text-align: right;
	}

	.reverse {
		flex-direction: row-reverse;
	}

	.personal-photo {
		width: 472px;
		aspect-ratio: 1/1;
		background-size: cover;
		border-radius: 50%;
		margin-right: 60px;
	}

	.photo {
		margin: 0 0 0 60px;
	}

	.item-container {
		width: 720px;
		height: 450px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
	}

	.item {
		width: 198px;
		height: 194px;
		transition: transform 0.5s ease;
	}

	.item:hover {
		transform: scale(1.05);
	}

	.dot {
		height: 22px;
		width: 22px;
		top: -11px;
		left: -11px;
	}

	.first-in-row {
		margin-right: 63px;
	}

	.footer-content {
		height: 70px;
	}

	.footer-container {
		flex-direction: row;
		justify-content: space-between;
		width: 92%;
		margin: 0 auto;
	}

	.footer-text {
		margin: 25px 0 25px 0px;
	}

	.social-icon {
		margin-left: 18px;
	}
}
